In [26]:
import requests as re
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import lxml

In [27]:
# Create an URL object
url = 'https://www.worldometers.info/coronavirus/'
# Create object page
page = re.get(url)

In [28]:
# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')
# soup

In [29]:
# Obtain information from tag <table>
table1 = soup.find('table', id='main_table_countries_today')
# table1

In [30]:
# Obtain every title of columns with tag <th>
headers = []
for i in table1.find_all('th'):
    title = i.text
    headers.append(title)

In [31]:
# Convert wrapped text in column 13 into one line text
headers[13] = 'Tests/1M pop'

In [32]:
# Create a dataframe
mydata = pd.DataFrame(columns = headers)

In [33]:
# Create a for loop to fill mydata
for j in table1.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(mydata)
    mydata.loc[length] = row

In [34]:
mydata.shape

(247, 22)

In [35]:
# Drop and clearing unnecessary rows
mydata.drop(mydata.index[0:7], inplace=True)
mydata.drop(mydata.index[222:229], inplace=True)
mydata.reset_index(inplace=True, drop=True)

# Drop “#” column
mydata.drop('#', inplace=True, axis=1)

In [36]:
mydata

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,World,"698,446,176","+5,882","6,944,190",+7,"669,818,765","+7,255","21,683,221","35,445","89,604",...,,,,All,\n,,,,,
1,USA,"109,522,503",,"1,183,470",,"107,428,691",,"910,342","1,373","327,123",...,"1,186,431,916","3,543,648","334,805,269",North America,3,283,0,,,"2,719"
2,India,"45,001,807",,"533,298",,N/A,N/A,N/A,N/A,"31,993",...,"930,797,975","661,721","1,406,631,776",Asia,31,"2,638",2,,,0.2
3,France,"40,138,560",,"167,642",,"39,970,918",,0,,"612,013",...,"271,490,188","4,139,547","65,584,518",Europe,2,391,0,,,
4,Germany,"38,641,986",,"178,162",,"38,240,600",,"223,224",N/A,"460,662",...,"122,332,384","1,458,359","83,883,596",Europe,2,471,1,,,"2,661"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Total:,"69,304,718",,"1,363,029",,"66,575,735",,"1,365,954","8,969",,...,,,,South America,,,,,,
229,Total:,"14,627,153",,"30,976",,"14,482,287",,"113,890",49,,...,,,,Australia/Oceania,,,,,,
230,Total:,"12,845,417",,"258,851",,"12,089,354",,"497,212",542,,...,,,,Africa,,,,,,
231,Total:,721,,15,,706,,0,0,,...,,,,,,,,,,
232,Total:,"698,446,176","+5,882","6,944,190",+7,"669,818,765","+7,255","21,683,221","35,445","89,604.1",...,,,,All,\n,,,,,