In [2]:
import requests as re
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import lxml

In [3]:
# Create an URL object
url = 'https://www.worldometers.info/coronavirus/'
# Create object page
page = re.get(url)

In [7]:
# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')
# soup

In [6]:
# Obtain information from tag <table>
table1 = soup.find('table', id='main_table_countries_today')
# table1

In [8]:
# Obtain every title of columns with tag <th>
headers = []
for i in table1.find_all('th'):
    title = i.text
    headers.append(title)

In [9]:
# Convert wrapped text in column 13 into one line text
headers[13] = 'Tests/1M pop'

In [10]:
# Create a dataframe
mydata = pd.DataFrame(columns = headers)

In [236]:
# Create a for loop to fill mydata
for j in table1.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(mydata)
    mydata.loc[length] = row

In [237]:
mydata.shape

(247, 22)

In [12]:
# Drop and clearing unnecessary rows
mydata.drop(mydata.index[0:7], inplace=True)
mydata.drop(mydata.index[222:229], inplace=True)
mydata.reset_index(inplace=True, drop=True)

# Drop “#” column
mydata.drop('#', inplace=True, axis=1)

In [13]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country,Other        0 non-null      object
 1   TotalCases           0 non-null      object
 2   NewCases             0 non-null      object
 3   TotalDeaths          0 non-null      object
 4   NewDeaths            0 non-null      object
 5   TotalRecovered       0 non-null      object
 6   NewRecovered         0 non-null      object
 7   ActiveCases          0 non-null      object
 8   Serious,Critical     0 non-null      object
 9   Tot Cases/1M pop     0 non-null      object
 10  Deaths/1M pop        0 non-null      object
 11  TotalTests           0 non-null      object
 12  Tests/1M pop         0 non-null      object
 13  Population           0 non-null      object
 14  Continent            0 non-null      object
 15  1 Caseevery X ppl    0 non-null      object
 16  1 Deathevery X ppl   0 non-null      object
 17  1 Testevery X ppl    0 non-null      object
 18  New Cases/1M pop     0 non-null      object
 19  New Deaths/1M pop    0 non-null      object
 20  Active Cases/1M pop  0 non-null      object
dtypes: object(21)
memory usage: 132.0+ bytes

In [14]:
# # Export to csv
# mydata.to_csv('covid_data.csv', index=False)

# # Try to read csv
# mydata2 = pd.read_csv('covid_data.csv')

In [15]:
arr = mydata['Country,Other'].unique()

In [16]:
len(arr)

0

In [17]:
mydata.groupby(by='Country,Other')['Deaths/1M pop'].count()

Series([], Name: Deaths/1M pop, dtype: int64)

In [18]:
mydata['Deaths/1M pop']

Series([], Name: Deaths/1M pop, dtype: object)

In [19]:
mydata.columns

Index(['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop',
       'Population', 'Continent', '1 Caseevery X ppl', '1 Deathevery X ppl',
       '1 Testevery X ppl', 'New Cases/1M pop', 'New Deaths/1M pop',
       'Active Cases/1M pop'],
      dtype='object')

In [20]:
data = mydata.drop(['NewCases','NewDeaths','NewRecovered','NewRecovered','ActiveCases','Serious,Critical','1 Caseevery X ppl','1 Deathevery X ppl','1 Testevery X ppl','New Cases/1M pop','New Deaths/1M pop','Active Cases/1M pop'],axis =1)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country,Other     0 non-null      object
 1   TotalCases        0 non-null      object
 2   TotalDeaths       0 non-null      object
 3   TotalRecovered    0 non-null      object
 4   Tot Cases/1M pop  0 non-null      object
 5   Deaths/1M pop     0 non-null      object
 6   TotalTests        0 non-null      object
 7   Tests/1M pop      0 non-null      object
 8   Population        0 non-null      object
 9   Continent         0 non-null      object
dtypes: object(10)
memory usage: 132.0+ bytes

In [22]:
data = data.rename(columns = {'Country,Other':'country',
                       'Tot Cases/1M pop':'tot_cases_1M_pop',
                       'Deaths/1M pop':'deaths_1M pop',
                       'TotalCases':'total_cases',
                       'TotalDeaths':'total_deaths',
                       'TotalRecovered':'total_recovered',
                       'TotalTests':'total_tests',
                       'Tests/1M pop':'tests_1M_pop',
                       'Population':'population',
                       'Continent':'continent'})

In [23]:
data.tail(10)

Empty DataFrame
Columns: [country, total_cases, total_deaths, total_recovered, Tot Cases/1M pop, deaths_1M pop, total_tests, tests_1M_pop, population, continent]
Index: []

In [24]:
data = data.drop(index = [0,225,226,227,228,229,230,231,232],axis=0)

KeyError: '[0, 225, 226, 227, 228, 229, 230, 231, 232] not found in axis'

In [ ]:
data

In [ ]:
data = data.apply(lambda x: x.str.replace(',','.'))

In [ ]:
data

In [ ]:
float( '%.1f'%(109.522.503))

In [ ]:
data.info()